root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,rst,ini}]
indent_style = space
indent_size = 4

[*.py]
line_length = 120
multi_line_output = 3

[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 2

[package.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{html,css,scss,json,yml}]
indent_style = space
indent_size = 2

[nginx.conf]
indent_style = space
indent_size = 2
