@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
* {font-family: 'Jeju Gothic', serif;}

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

body {
/*background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);*/
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

header{
background-color: #4180C5;
text-align: center;
padding-top: 12px;
padding-bottom: 8px;
margin-top: -11px;
margin-bottom: -8px;
border-radius: 10px 10px 0 0;
color: aliceblue;
}

input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #7ac9b7;
/*background-color: #4180C5;*/
color: aliceblue;
font-size:15px;
cursor:pointer;
}